*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*Body Main Styling*/
html,body{
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
	-o-scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
}

/*give this class to an image to make him center*/
.img-center{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
* Navbar Styling Classes
*/
		.nav-item{
			margin: 0px 12px;
		}
		.nav-link{
			text-align: center;
		}
        .fa-heart{
            color: #F74933;
        }   
        .space-100{
            height: 100px;
            display: block;
        }
        pre.prettyprint{
            background-color: #ffffff;
            border: 1px solid #999;
            margin-top: 20px;
            padding: 20px;
            text-align: left;
        }
        .atv, .str{
            color: #05AE0E;
        }
        .tag, .pln, .kwd{
             color: #3472F7;
        }
        .atn{
          color: #2C93FF;
        }
        .pln{
           color: #333;
        }
        .com{
            color: #999;
        } 
/*=======================*/

/*
* Global Clasees
*/
.margin-1em{
	margin: 1em;
}
.margin-2em{
	margin: 2em;
}
.margin-3em{
	margin: 3em;
}
.margin-4em{
	margin: 4em;
}
.margin-5em{
	margin: 5em;
}
.margin-6em{
	margin: 6em;
}
.margin-7em{
	margin: 7em;
}
.margin-8em{
	margin: 8em;
}
.margin-9em{
	margin: 9em;
}
.margin-10em{
	margin: 10em;
}
.btn-fancy{
	border-radius: 8px 0px 8px 8px; 
}

/*Classes for Font Size*/
.fz-20{
	font-size: 20px;
}
.fz-22{
	font-size: 22px;
}
.fz-24{
	font-size: 24px;
}
.fz-26{
	font-size: 26px;
}
.fz-28{
	font-size: 28px;
}
.fz-30{
	font-size: 30px;
}
.fz-32{
	font-size: 32px;
}
.fz-34{
	font-size: 34px;
}

.over-top{
	margin-top: -3rem;
}

/*Classes for Width and Height*/
.w-h-24{
	width: 24px;
	height: 24px;
}

.max-w-90{
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.max-w-80{
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.max-w-75{
	max-width: 75%;
	margin-right: auto;
	margin-left: auto;
}

/*Classes for Background*/
.bg-orange{
	background-color: rgba(255, 152, 0, 0.97);
}
.c-white{
	color: #fff;
}
.c-black{
	color: #000;
}
.c-green{
	color: rgba(0,255,0,0.8);
}
.c-red{
	color: rgba(255,0,0,0.6);
}
.bg-linear-royal{
	background-image: linear-gradient(to bottom, #1A5276, #1B4F72);
}



.p-banner{
	height: 140px;
	box-sizing: border-box;
	padding-top: 40px;
}


#contact-area{
	background-color: #fff;
	border-radius: 5px;
}

#contact-detail{
	padding:40px 0px;
}
#contact-form{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*Media Quiries*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	.nav-item{
		text-align: center;
	}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.nav-item{
		text-align: center;
	}
}
